<head>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    #main-content {
      background-image: url("/assets/img/homepagebg_blue.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    #govt_logo {
      height: 55px;
      width: 200px;
    }

  </style> <!-- site.url: https://serviceinnovationlab.github.io/ -->
  <!-- site.baseurl:  -->
  <!-- siteurl: https://serviceinnovationlab.github.io/ -->
  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="vmVo2wbQpKGMHVpllQP7bQ0w5gICWD356VH9DNbv5f4" />
  <!-- Mobile Specific Metas
================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Meta tags
================================================== -->
  <meta name="twitter:card" content="summary_large_image"> <!-- Creator -->
  <meta name="twitter:creator" content="@SIL">
  <title>Service Innovation Lab | Home</title>
  <meta property="og:title" content="Service Innovation Lab | Home" />
  <meta name="twitter:title" content="Service Innovation Lab | Home">
  <meta name="twitter:site" content="@SIL" /> <!-- Description -->
  <meta name="description" content="The Service Innovation Lab is a cross agency collaborative.">
  <meta property="og:description" content="The Service Innovation Lab is a cross agency collaborative." />
  <meta property="twitter:description" content="The Service Innovation Lab is a cross agency collaborative." />
  <link rel="canonical" href="https://serviceinnovationlab.github.io//" />
  <!--[if lt IE 9]>
  <script src="/assets/js/vendor/html5shiv.js"></script>
  <script src="/assets/js/vendor/respond.js"></script>
  <script src="/assets/js/vendor/selectivizr-min.js"></script>
<![endif]-->
  <link rel="stylesheet" href="/assets/css/main.css" media="all" />
  <link rel="stylesheet" href="/assets/css/print.css" media="print" />
</head>
