<header role="banner">
  <div class="site-navbar usa-grid">
    <button class="menu-btn">Menu</button>
    <a class="site-logo media_link" href="/">
      <img src="/assets/img/SIL-Logo-Animation.gif" alt="SIL logo" style="height:55px; width:217px;"></a><span
      class="beta">Beta</span>
    <span class="usa-sr-only">Service Innovation Lab</span>
    <nav role="navigation">
      <ul class="usa-accordion">
        <li>
          <a href="/about/"><span>About</span></a>
        </li>
        <li>
          <a href="/expertise/"><span>Expertise</span></a>
        </li>
        <li>
          <a href="/projects/"><span>Projects</span></a>
        </li>
        <li>
          <a href="/tools/"><span>Tools</span></a>
        </li>
        <li>
          <a href="/contact/"><span>Contact</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
