<aside class="usa-width-one-third sticky sticky-subnav">
  <nav class="nav-accordion nav-subnav usa-accordion" role="navigation">
    <button class="usa-accordion-button nav-accordion-button nav-accordion-button-desktop" aria-expanded="false">
      <h3 class="page-title">About</h3>
    </button>
    <button class="usa-accordion-button usa-accordion-button-chevron nav-accordion-button nav-accordion-button-mobile"
      aria-expanded="false" aria-controls="about">About</button>
    <ul id="about" class="usa-sidenav-list usa-accordion" aria-hidden="true">
      <li>
        <a class="subnav-anchor" href="/about/#purpose">Purpose</a>
      </li>
      <li>
        <a class="subnav-anchor" href="/about/#approach">Approach</a>
      </li>
      <li>
        <a class="subnav-anchor" href="/about/#history">History</a>
      </li>
    </ul>
  </nav>
</aside>
